*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #a6abad;
    font-family: serif;
    display: block;
}
.main-content{
    display: grid;
    list-style: none;
    min-height: 1000px;
    width: 90%;
    grid-template-columns: 300px 700px;
    margin: 20px auto;
}
.left-section{
    grid-column: span 1;
    background-color: #4D455D
}
.right-section{
    grid-column: span 1/ span 2;
   background-color:#E1EEDD;
}
.left-content{
    padding: 1rem;
}
.profile-image{
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 30%;
  width: 60%;
}
.profile-image img{
    display: block;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    margin: auto;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.icon a{
    text-decoration: none;
    padding-bottom: 10px;
    margin: 0px 10px;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.skill-name p{
    margin: 10px 0px;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
}
.ht{
  width: 85%;
  background-color: #fff;
}
.cs{
    width: 80%;
    background-color: #fff;
}
.js{
    width: 80%;
    background-color: #fff;
}
.java{
    width: 70%;
  background-color: #fff;
}
.react{
    width: 70%;
    background-color: #fff;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media screen and (max-width : 674px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
        min-height: 1000px;
        justify-content: center;
        width: 90%;
        margin: 20px auto;
    }
}